footer
  .container.text-center
    p.pull-left © 2015 Block. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/danXyu/block') Check it out on GitHub
      li
        a(href='https://github.com/danXyu/block/issues') Issues