extends layout

block content
  h1 Block Analytics
  p.lead A new way to train your brain to its maximum capabilities.
  hr
  .row
    .col-sm-6
      h2 Game Statistics
      p See your stats for each game by selecting the game you played and allowing it to connect up to the Peak API to grab the necessary information for each game.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Brain Wave Analytics
      p Get the brain waves that are associated with each game. This is displayed using d3.js to show all of the frequency points in an easily understandable way.
      p
        a.btn.btn-default(href='#', role='button') View details »